:root{
    --primary-color:rgba(18, 109, 255);
    --secondary-color:rgba(255, 255, 255, 0.9);
    --heading-font-family:"Abril Fatface", serif;
    --default-font-family:"Urbanist", serif;
}

body{
    font-family: var(--default-font-family);
    background-color: rgb(255, 249, 243);
}

.logo {
    max-height: 38px;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height:40px;
    margin-left: 20px;
}

nav li.active a{
    color: var(--primary-color);
}
nav a {
    text-decoration: none;
    color: #3666BE;
    font-weight: 550;
}
nav a:hover{
    text-decoration: none;
    color: #DC3DB0;
    transition: all 100ms ease-in-out;
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

h1, h2,h3, h4, h5, h6 {
font-family: var(--heading-font-family);


}

h1 {
    text-align: center;
}

h2 {
    font-size: 45px;
}

h4{
    font-size: 48px;
    color: var(--primary-color);
}


.hero {
    text-align: center;
    color:rgba(255, 255, 255, 0.8);
    background-image:url("/images/hero-backround.jpg");
    background-size: cover;
    padding: 36px 20px;
}


.hero h1{
    font-size: 78px;
    text-shadow: 1px 1px 2px rgb(255, 234, 239, 0.6);
}



.hero h2{
font-family:var(--default-font-family);
color: white;
font-size: 36px;
}



.hero p {
font-size: 36px;
}

.btn-my-work:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.btn-my-work {
    background-color: var(--primary-color);
    border-radius: 15px;
    color:white;
    padding: 5px 30px;
    margin: 0 auto;
    text-align: center;
}

.btn-branding:hover{
    background-color:var(--secondary-color);
    color:var(--primary-color);
}

.btn-branding {
  background-color:var(--primary-color);
  box-shadow: 10px 10px 20px 0px rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  line-height: 27px;
  color: rgba(214, 214, 210, 0.9);
  padding: 5px 30px;
  margin: 30px;
}

.btn-branding-outline:hover {
    background-color: var(--primary-color);
    color: white;

}

.btn-branding-outline {
background-color: var(--secondary-color);
border: 1px solid var(--primary-color);
    border-radius: 15px;
    line-height: 27px;
    color: var(--primary-color);
    padding: 5px 10px;
    margin: 30px;
}

.technologies{
    font-size: 35px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFEAEF;
    box-shadow: 10px 10px 10px 0px rgba(209, 211, 185, 0.3);
    border: 2px dotted #ffcdd9;
}

.name-about-page {
    position: relative;
    top: -25px;
    right: 50px;
    font-size: 84px;
    text-align: right;
}

.text-overlay {
    position: relative;
    top: 20px;
    font-size: 84px;
    text-align: left;
    margin: 0 auto;

}

.content-container-about {
text-align: center;
color: white;
background-color: #71A5FA;
padding: 10px 5px;
}

.content-container {
    text-align: center;
    color: white;
    background-image: url("/images/hero-backround.jpg");
    background-size: cover;
    padding: 36px 20px;
}

.content-container-two {
    padding: 50px;
    margin: 0;
  }
.content-container-two h1{
    font-size: 74px;
    text-shadow: 1px 1px 1px rgb(92, 180, 202, 0.7);
    }
.content-container h2{
    font-size: 36px;
}

.content-container-two h3 {
    font-size: 24px;
}

.photo-myself {
    max-width: 250px;
    border: 2px solid white;
}

.about-information {
    text-align: center;
    color:rgba(18, 109, 255, 0.6);
    font-size: 60px;
    font-family:"Bebas Neue", sans-serif;
}

.photo-myself-ny {
    max-height: 500px;
}

footer {
    margin: 60px 0;
}

footer p{
    font-size: 10px;
}

footer .email-link{
    text-decoration: none;
    color: #3666BE;
    font-size: 16px;
}

footer .email-link:hover {
    color: #DC3DB0;
}

footer .contact-box{
    background: #FEE7ED;
    padding:30px 120px;
    border-radius: 10px;
}

footer .contact-box p{
    padding: 0;
}

footer .social-links a{
    margin: 20px;
    color: #3666BE;
    background-color:#FFE9EC;
    padding: 10px 15px;
    border-radius: 100%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color:#FEE7ED ;
    background: #3666BE;
}


@media (max-width:900px) {
    .hero h1 {
        font-size: 40px;
        line-height: 1.5;
    }

    .hero h2 {
        font-size: 25px;
    }

    .hero {
        padding: 24px 0px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }
 .content-container-two h1{
    font-size:36px ;
 }
 .about-information {
    font-size: 40px;
 }
}