:root{
    --primary-color:rgba(18, 109, 255);
    --heading-font-family:"Bodoni Moda", serif;
    --default-font-family:"Raleway",sans-serif;
}

body{
    font-family: var(--default-font-family);
}

h1, h2,h3, h4, h5, h6 {
font-family: var(--heading-font-family);
font-weight: 900;
font-size: 96px;
}

.hero {

    text-align: center;
    color: white;
    background-image:url("/images/hero-backround.jpg");
    background-size: cover;
    padding: 36px 20px;
}

.hero h2{
font-family:var(--default-font-family);
color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
}

.hero p {
font-size: 36px;
}

.btn-contact-page:hover{
    background-color: rgba(214, 214, 210, 0.9);
    color:var(--primary-color);
}

.btn-contact-page {
  background-color:var(--primary-color);
  border-radius: 15px;
  line-height: 27px;
  color: rgba(214, 214, 210, 0.9);
  padding: 5px 30px;
  margin: 30px;
}